@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif;; */
  }
  :root {
  --dark-black: #111418;
  --light-black: #212529;
  --bg-light: #343A40;
  --dark-blue: #D6383D;
  --light-gray:#FAFAFAE6;
  --white: #FFFFFF;
  --sm-text: #909294;
  }
h1, h2, h3 ,h4 {
  color: white;
}
/* @layer components {
    .btn-primary {
         @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
    }
} */