@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  :root {
  --dark-black: #111418;
  --light-black: #212529;
  --bg-light: #343A40;
  --dark-blue: #D6383D;
  --light-gray:#FAFAFAE6;
  --white: #FFFFFF;
  --sm-text: #909294;
  }
h1, h2, h3 ,h4 {
  color: white;
}
